.App {
  height: 100vh; /* 视口高度 */
  width: 100vw; /* 视口宽度 */
  display: flex; /* 使用Flexbox进行布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  padding: 20px; /* 根据需要添加内边距 */
  box-sizing: border-box;
}

.Tabs {
  width: 100%; /* 宽度充满父容器的宽度，考虑到了padding */
  height: 100%;
  box-sizing: border-box;
}

.Table {
  width: 100%; /* 宽度充满父容器的宽度，考虑到了padding */
  height: 100%;
  box-sizing: border-box;
}